<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>State Capital Quiz</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body id="app">
    <form class="container" action="/submit" method="post">
      <!-- <div class="horizontal-container"></div> -->
      <!-- <div class="answer-container"> -->
      <h3>
        Total Score:
        <span id="score"> <%= locals.totalScore ? totalScore : "0" %> </span>
      </h3>
      <h1 id="countryName"><%=question.region %></h1>

      <input
        type="text"
        name="answer"
        id="userInput"
        placeholder="Enter the capital"
        autofocus
        autocomplete="off"
      />
      <!-- </div> -->
      <button type="submit">SUBMIT</button>
      <button type="submit">END QUIZ</button>
    </form>
    <script>
      var wasCorrect = "<%= locals.wasCorrect %>";
      console.log(wasCorrect);
      if (wasCorrect === "false") {
        alert("Game over! Final best score: <%= locals.totalScore %>");
        window.location.href = "/";
      }
      var completedRes = "<%= locals.completed %>";
      if (completedRes === "true") {
        console.log("finished");
        alert(
          "Quiz finished, You nailed it! Final best score: <%= locals.totalScore %>"
        );
        window.location.href = "/";
      }
    </script>
  </body>
</html>
